#login {
    background: linear-gradient(120deg,#4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
}

.text-login{
    color: #ffffff;
    font-size: 1418;
    font-weight: 500;
}



.coins{
    position: fixed;
    bottom: 100px;

}
.button-login{
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
    align-content: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
}

.button-login:hover{
    background-color: #4c79d3;
}